.navbar .dropdown-menu>li>a, .navbar .dropdown-menu>li>a:focus {
    font-weight: 400;
}

.navbar-default {
    background-color: #00526E;
    font-weight: 400;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
    background-color: #32748B;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 400;
}

.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus {
    background-color: #003142;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 400;
}

body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 1.65em;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 500;
}

table {
    font-size: 15px;
}